.bigbox{
  background-color: #846;
  height: 100vh;
  width: 100vw ;
}

button{
  display: flex;
  z-index: 1  ;
  align-items: center;
  justify-content: center;
  flex-direction: row;  
  background-color: #000;
  border: solid #282c34 3px;
  font-size: 200%;
  color: rgb(227, 108, 11);
  height:50%;
  width: 16.66%;
}

.row1{
  display: flex;
  flex-direction: row;
  height:25%;
}

.row2{
  display: flex;
  flex-direction: row;  
  height:25%;
}

.row3{
  display: flex;
  flex-direction: row; 
  height:25%;
}

.teach{
  display: flex;
  justify-content: right;
  align-items: center;
  height:25%;
}

.shuffleButton{
  width: 100%;
}

.person{
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border: solid #282c34 3px;
  font-size: 200%;
  color: rgb(227, 108, 11);
  width: 16.66%;

}

.empty{
  width: 16.66%;
}

.home{
  display: flex;
  flex-direction: row; 
  height:90%;
  width: 90%;
}

.navbar{
  display: flex;
  flex-direction: row;
  font-size: 50%;
}

.profilboks{
  background-color: #fffaaa;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilecard{
width: 20vw;
height: 70vh;
display: flex;
flex-direction: column;
justify-content: center;
background-color: #846;
align-items: center
};
