html{ 
  margin: 0;
  overflow-x: hidden;
}

.mainBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #001;
}

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  z-index: 100000;
  height: 8vh;
  width: 100vw;
  background-color: rgb(17, 0, 68);
}

.navbarItem{
  color: #fff; 
  border: solid 1px #fff;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;  
  background: rgb(17, 0, 68);
}

.navbarItem2{
  color: #fff; 
  border: solid 1px #fff;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;  
  background: rgb(17, 0, 68);
  transform: scale(-1, 1);
            -moz-transform: scale(-1, 1);
            -webkit-transform: scale(-1, 1);
            -o-transform: scale(-1, 1);
            -ms-transform: scale(-1, 1);
            transform: scale(-1, 1);
}

.navbarItem:hover{
  background-color: #fff;
  color: rgb(17, 0, 68);
  transition: 900ms;
}
.navbarItem2:hover{
  background-color: #fff;
  color: rgb(17, 0, 68);
  transition: 900ms;
}

.blueBox{
  background-color: #199AF7;
  height: 82%;
  width: 80%;
  opacity: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  box-shadow:1px 1px 10px 5px grey;
}


form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginInfo input[type='submit']{
  background-color: #015591;
  color: #D9D9D9;
  border: none;
  height: 5vh;
  width: 150%;
  font-size: 100%;
  border-radius: 2%;
}